body {
  margin: 3em;
  padding: 3em;
  font-family: "Moda Operandi Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-size: 16px;
}

h1 {
  margin-bottom: 3em;
}

h3 {
  border-bottom: 1px solid;
  padding-bottom: 1em;
  font-size: 1rem;
}

.Icons {
  display: flex;
  flex-wrap: wrap;
}

.Icon {
  display: flex;
  width: 12em;
  height: 12em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}
